body {
  background: greenyellow;
}
h1 {
  font-family: Courier;
  font-size: 70px;
  color: red;
  text-shadow: -4px 2px green;
  text-align: center;
  text-transform: uppercase;
  background: grey;
}
p {
  font-family: courier;
  font-size: 22.5px;
  text-align: center;
  font-weight: bold;
}
#canvas1 {
  background: rgb(103, 150, 33);
  position: relative;
  top: 22px;
}
#canvas10 {
  background: rgb(138, 195, 196);
  position: relative;
  bottom: -70px;
}
