body {
  background-color: green;
}
h1 {
  text-align: center;
}
canvas {
  background-color: blue;
  position: relative;
  left: 35px;
  border: 20px solid black;
}
.canvaret {
  background-color: purple;
  position: relative;
  right: 30px;
  border: 20px solid purple;
}
